<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/school"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31"
        >

        <activity
            android:name="com.example.myproject.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.myproject.view.transaction" />
        <activity android:name="com.example.myproject.view.Profil" />
        <activity android:name="com.example.myproject.view.Recherchenotes" />
        <activity android:name="com.example.myproject.view.proflogin" />
        <activity android:name="com.example.myproject.view.profManagement" />
        <activity android:name="com.example.myproject.view.Modifienote" />




        <activity android:name="com.example.myproject.view.RechercheEleve" />
        <activity android:name="com.example.myproject.view.AfficherBult" />

    </application>

</manifest>